<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>

<div id="edit">
  <div class="container">
	  <h1>Editing Project</h1>
	  <hr/>
	  <p>Define the parameters for your conversation study below:</p>
	  <form id="edit-form" action="/project/update/<%= project.id %>" method="POST">
		  <div class="form-group">
			  <label for="edit-form-name">Project Name</label>
			  <input id="edit-form-name" class="form-control" type="text" name="name" value="<%=project.name%>" placeholder="My Awesome Chat Study"></input>
		  </div>
		  <div class="form-group">
			  <label for="edit-form-quorum">Participants per room</label>
			  <input id="edit-form-quorum" class="form-control" type="number" name="quorum" value="<%=project.quorum%>"></input>
		  </div>
		  <div class="form-group">
			  <label for="edit-form-welcome">Welcome Text</label>
			  <input id="edit-form-welcome" class="form-control" type="text" name="welcome" value="<%=project.welcome%>" placeholder="All participants have arrived! Get ready to chat..."></input>
		  </div>
		  <label for="prompts-dynamic-list">Prompts</label>


		  <div id="prompts-dynamic-list" class="form-group">
			  <% for (var i = 0; i < project.prompts.length; i++) {%>
			  <div class="input-group">
				  <input class="form-control" id="edit-prompt-text" name="ptexts[]" type="text" value="<%=project.prompts[i].text%>" placeholder="What do you think of this picture?"></input>
				  <input class="form-control" id="edit-prompt-url" name="purls[]" type="text" value="<%=project.prompts[i].url%>" placeholder="images.xyz/mycoolimage.jpg"></input>
				  <input class="form-control" id="edit-prompt-delay" name="pdelays[]" type="number" value="<%=project.prompts[i].delay%>" placeholder="(time in seconds)"></input>
				  <span class="input-group-append input-group-btn">
					  <button class="btn btn-success btn-add" type="button">
						  <span class="fa fa-plus"></span>
					  </button>
				  </span>
			  </div>
			  <% } %>
		  </div>
		  <div class="form-group">
			  <label for="edit-form-farewell">Farewell Text</label>
			  <input id="edit-form-farewell" class="form-control" type="text" name="farewell" value="<%=project.farewell%>" placeholder="Time's up! Thanks for using Convomatic."></input>
		  </div>
		  <input type="hidden" name="_csrf" value="<%- _csrf %>" />
		  <div class="buttons">
			  <input type="submit" class="btn btn-primary btn-block" value="Save Project"></input>

			  <a class="btn btn-secondary btn-block" href="/project/show/<%= project.id %>">Back</a>
			</div>
	  </form>
  </div>
</div>
