<div id="show">
  <div class="container">
    <h1><%= project.name %></h1>
    <br/>
    <div class="card">
      <h5 class="card-header">Parameters</h5>
      <ul class="list-group list-group-flush">

        <li class="list-group-item">
          <span class="col-3"><strong>Room size:</strong></span>
          <span class="col-9"><%= project.quorum %></span>
        </li>

        <li class="list-group-item">
          <span class="col-3"><strong>Welcome text:</strong></span>
          <span class="col-9"><%= project.welcome %></span>
        </li>

        <li class="list-group-item">
          <span class="col-3"><strong>Prompts:</strong></span>
          <div class="col-12">
          <table class="table table-striped border-0">
            <% for (var i = 0; i < project.prompts.length; i++) {%>
            <tr class="col-12">
              <td><%=i+1%></td>
              <td><%=project.prompts[i].text%></td>
              <td><%=project.prompts[i].delay%>s</td>
              <% if (project.prompts[i].url) { %>
              <td class="col-2"><img class="img-thumbnail rounded float-right" src=<%=project.prompts[i].url%></img></td>
              <% } else { %>
              <td class="col-2">(no image)</td>
              <% } %>
            </tr>
            <% } %>
          </table>
          </div>
        </li>

        <li class="list-group-item">
          <span class="col-3"><strong>Farewell text:</strong></span>
          <span class="col-9"><%= project.farewell %></span>
        </li>

        <a class="list-group-item list-group-item-action active text-center" href="/project/edit/<%= project.id %>">Edit Parameters</a>

      </ul>

    </div>

    </br>

    <div class="card">
      <h5 class="card-header">Distribution</h5>
      <ul class="list-group list-group-flush">
          <li class="list-group-item">Simple link: <code><%- "http://convomatic.herokuapp.com/chat/embed/" + project.id + "/WhateverNameYouLike" %></code></li>
          <li class="list-group-item">Embed in Qualtrics: <code><%- "&lt;iframe style=&quot;height:500px; width:100%; border:1px solid black; border-radius:8px;&quot; src=&quot;" + "http://convomatic.herokuapp.com/chat/embed/" + project.id + "/${e://Field/ResponseID}" + "&quot;&gt;&lt;/iframe&gt;"%></code></li>
      </ul>
    </div>

    </br>

    <div class="card">
      <h5 class="card-header">Logs</h5>
      <ul class="list-group list-group-flush">
          <a class="list-group-item" href="/project/messages/<%= project.id %>">Show messages</a>
          <a class="list-group-item" href="/project/csv/<%= project.id %>">Download CSV</a>
      </ul>
    </div>

    </br>

    <div>
      <a class="btn btn-secondary btn-block" href="/welcome">Back</a>
    </div>

  </div>
</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
